.header {
	border-bottom: solid 1px #ccc;
	margin-bottom: 50px;
}

.header h1 {
	float: left;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
	line-height: 1.2;
}

.section-header {
	margin-top: 130px;
}

.section-header h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
	font-size: 25px;
}

.project-row {
	margin-bottom: 60px;
}

.project-row img {
	/*border-bottom: solid 4px #888;*/
	height: 250px;
	box-shadow: 0 9px 18px -2px #f6f6f6, 0 -9px 18px -2px #f6f6f6;
}

.project-row h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
}

.project-row p {
	color: #555;
}


/*tmp*/
.carousel-inner {
	max-height: 500px;
	opacity: .7;
}