<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
	<title>360 Portrait</title>

   	<link rel="icon" type="image/png" href="/static/img/favicon.png">


	<link rel="stylesheet" href="/static/css/reset.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/static/css/threesixty.css" media="screen" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="threesixty">
		<div id="spinner">
			<span>0%</span>
		</div>
		<ol id="threesixty_images"></ol>
		<p class="title"><a href="/360">360° Portrait</a></p>
	</div>

	<script src="/static/js/heartcode-canvasloader-min.js"></script>
	<script src="/static/js/jquery-1.7.min.js"></script>
	<script src="/static/js/threesixty.js"></script>
</body>
</html>
