{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
				<img src="/static/img/360-3-med.jpg" class="img-responsive no-desc no-border">
                <img src="/static/img/360-12-med.jpg" class="img-responsive no-desc no-border">
                <img src="/static/img/360-22-med.jpg" class="img-responsive no-desc no-border">
                <img src="/static/img/360-29-med.jpg" class="img-responsive no-desc no-border">
                <img src="/static/img/360-studio-med.jpg" class="img-responsive">
                <p class="img-desc">The make-shift photo studio</p>
                <img src="/static/img/cart_track-med.jpg" class="img-responsive">
                <p class="img-desc">The dolly with the position indicator. Positions 28 and 29 shown.</p>
                <img src="/static/img/cart-med.jpg" class="img-responsive">
                <p class="img-desc">The casters mounted with U shaped, grooved wheels. Two run on the track with a regular wheel in the middle.</p>
                <img src="/static/img/wheel-med.jpg" class="img-responsive">
                <p class="img-desc">A closeup of the caster and special wheel</p>
			</div>
			<div class="col-md-3">
				<p class='title'>360° Portrait</p>
				<p class="link-out"><a href="/360/hand">View in 360° here</a></p>
                <p class="desc-title">About</p>
				<p>
					A person uses their hands to interact with the world. To feel it. To understand it. To alter it. Everyone's hands are unique. This project captures my right hand, in 360°.
				</p>
                <p class="desc-title">Process</p>
				<p>
					This portrait is built using 33 different pictures chained together using <a href="https://github.com/heartcode/360-Image-Slider">a JavaScript library</a>.
				</p>
                <p>
					The images come from a normal Nikon DSLR camera mounted to a tripod that was pushed around a circular track. While the photos were taken, my hand was kept fixed in the center.
				</p>
                <p class="desc-title">Equipment</p>
                <p>
                    The track is made of <a href="http://en.wikipedia.org/wiki/Cross-linked_polyethylene">PEX tubing</a>. Two ten foot pieces fitted together into a circle. It's important to get thick PEX tubing, at least an inch in diameter.
                </p>
                <p>
                    The dolly is a 16" x 32" piece of plywood with three 3" casters screwed to the bottom. Only two casters run on the track with the third running in the center, inside the circle for balance.
				</p>
                <p>
                    I had to purchase casters and wheels separately. The wheels that run on the track are grooved out, kind of like a U. They were purchased from a camera shop online.
				</p>
                <p class="desc-title">Version 2.0</p>
                <p>
					The results could have been better. In version 2.0, I'd build a track that pivots around a center point in the ceiling. I'd also get a good lighting kit and use a white backdrop.
				</p>
                <p>
                    I want to iterate on this project. If you have a space and interest, let's collaborate.
                </p>
				<p class="desc-title">Check it out</p>
				<p>
					This description isn't half as interesting as the thing itself. <a href="/360/hand">View in 360° here</a>.
				</p>
			</div>
		</div> <!--/ row-->
{% endblock %}