{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
                <img src="/static/img/360-12-med.jpg" class="img-responsive no-desc">
                <img src="/static/img/360-22-med.jpg" class="img-responsive no-desc">
                <img src="/static/img/360-29-med.jpg" class="img-responsive no-desc">
                <img src="/static/img/360-setup-combined.jpg" class="img-responsive composite-img">
                <p class="img-desc">The studio, track, cart, and grooved casters</p>
			</div>
			<div class="col-md-3">
				<p class='title'>360° Portrait</p>
                <p>a 360° view of my hand in a fun, draggable interface</p>
                <div class="link-out">
				    <span><a href="/360/hand" target="_blank">View in 360°</a></span>
                </div>
                <p class="desc-title">About</p>
				<p>
					A person uses their hands to interact with the world. To feel it. To understand it. To alter it. Everyone's hands are unique. This project captures my right hand, in 360°.
				</p>
                <p class="desc-title">Process</p>
				<p>
					This portrait is built using 33 different pictures chained together using <a href="https://github.com/heartcode/360-Image-Slider" target="_blank">a JavaScript library</a>.
				</p>
                <p>
					The images come from a normal Nikon DSLR camera mounted to a tripod that was pushed around a circular track. While the photos were taken, my hand was kept fixed in the center.
				</p>
                <p class="desc-title">Equipment</p>
                <p>
                    The track is made of <a href="http://en.wikipedia.org/wiki/Cross-linked_polyethylene" target="_blank">PEX tubing</a>. Two ten foot pieces fitted together into a circle. It's important to get thick PEX tubing, at least an inch in diameter.
                </p>
                <p>
                    The dolly is a 16" x 32" piece of plywood with three 3" casters screwed to the bottom. Only two casters run on the track with the third running in the center, inside the circle for balance.
				</p>
                <p>
                    I had to purchase casters and wheels separately. The wheels that run on the track are grooved out, kind of like a U. They were purchased from <a href="http://www.camonwheels.com/" target="_blank">a camera shop online</a>.
				</p>
                <p class="desc-title">Version 2.0</p>
                <p>
					The results could have been better. In version 2.0, I'd build a track that pivots around a center point in the ceiling. I'd also get a good lighting kit and use a white backdrop.
				</p>
                <p>
                    I want to iterate on this project. If you have a space and interest, let's collaborate.
                </p>
				<p class="desc-title">Check it out</p>
				<p>
					This description isn't half as interesting as the thing itself.
				</p>
                <div class="link-out">
				    <span><a href="/360/hand" target="_blank">View in 360°</a></span>
                </div>
			</div>
		</div> <!--/ row-->
{% endblock %}