<!DOCTYPE html>
<html>
  <head>
    <title>Matt Phillips | Ambient Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Global style, non-bootsrap> -->
    <link href="/static/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container project-container">
		<div class="row header">
			<div class="col-md-8"><a href="/"><h1>Matt Phillips</h1></a></div>
			<div class="col-md-4"></div>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				<img src="/static/img/at-first.png" class="img-responsive">
				<img src="/static/img/at-second.png" class="img-responsive">
				<img src="/static/img/at-third.png" class="img-responsive">
				<img src="/static/img/at-fourth.png" class="img-responsive">
				<img src="/static/img/at-fifth.png" class="img-responsive">
			</div>
			<div class="col-md-3">
				<h1>Ambiet Timer</h1>
				<p><a href="http://ambienttimer.com" class="link-out">ambienttimer.com</a></p>
				<h4>About</h4>
				<p>
					There are occasions when you need a timer but find that a ticking stopwatch is too stressful. Ambient Timer provides a countdown mechanism without the stress. Set it, glance at it, when the screen is green, time's up.
				</p>
				<p>
				One of the virtues of the Ambient Timer is its simplicity. There are no buttons or text fields - all control happens through the URL. If you want to start a timer for 1 minute and 20 seconds, you visit <a href="http://ambienttimer.com/1m20s">ambienttimer.com/1m20s</a>. If you want a timer for 2 hours, 20 minutes, and 17 seconds you visit <a href="http://ambienttimer.com/2h20m17s">ambienttimer.com/2h20m17s</a>.
				</p>
				<h4>Technology</h4>
				<p>
					Ambient Timer is a simple web application. It leverages SVG to draw a grill across the screen and uses an SVG Animation to move a large SVG Rectangle from the top left of the screen to the bottom right.
				</p>
				<h4>Source Code</h4>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/phillipsm/ambienttimer">Github</a>.
				</p>
				<h4>Check it out</h4>
				<p>
					This description isn't half as interesting as the thing itself. <a href="http://ambienttimer.com">ambienttimer.com</a>
				</p>
				
				
			</div>
		
		</div>

  </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>