{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
				<img src="/static/img/at-first.png" class="img-responsive no-desc with-border">
				<img src="/static/img/at-second.png" class="img-responsive no-desc with-border">
				<img src="/static/img/at-third.png" class="img-responsive no-desc with-border">
				<img src="/static/img/at-fourth.png" class="img-responsive no-desc with-border">
				<img src="/static/img/at-fifth.png" class="img-responsive no-desc with-border">
			</div>
			<div class="col-md-3">
				<p class='title'>{{ project_title }}</p>
                <p>a low-stress visual timer with a simple input mechanism for setting the countdown</p>
                <div class="link-out">
				    <span><a href="http://ambienttimer.com" target="_blank">ambienttimer.com</a></span>
                </div>

				<p class="desc-title">About</p>

				<p>
					There are occasions when you need a timer but find that a ticking stopwatch is too stressful. Ambient Timer provides a countdown mechanism without the stress. Set it, glance at it, when the screen is green, time's up.
				</p>
				<p>
				One of the virtues of the Ambient Timer is its simplicity. There are no buttons or text fields - all control happens through the URL. If you want to start a timer for 1 minute and 20 seconds, you visit <a href="http://ambienttimer.com/1m20s" target="_blank">ambienttimer.com/1m20s</a>. If you want a timer for 2 hours, 20 minutes, and 17 seconds you visit <a href="http://ambienttimer.com/2h20m17s" target="_blank">ambienttimer.com/2h20m17s</a>.
				</p>
				<p class="desc-title">Technology</p>
				<p>
					Ambient Timer is a simple web application. It leverages SVG to draw a grill across the screen and uses an SVG Animation to move a large SVG Rectangle from the top left of the screen to the bottom right.
				</p>
				<p class="desc-title">Source Code</p>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/phillipsm/ambienttimer">GitHub</a>.
				</p>
				<p class="desc-title">Check it out</p>
				<p>
					Set the timer and watch it work at
				</p>
                <div class="link-out">
				    <span><a href="http://ambienttimer.com" target="_blank">ambienttimer.com</a></span>
                </div>
			</div>
		</div> <!--/ row-->
{% endblock %}