{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
				<img src="/static/img/ab-pla-med.jpg" class="img-responsive">
                <p class="img-desc">The Awesome Box display at the 2014 Public Library Association conference</p>
                <img src="/static/img/awesome-bookmark-med.jpg" class="img-responsive">
                <p class="img-desc">Some Awesome Box bookmarks</p>
                <img src="/static/img/awesome-resized.jpg" class="img-responsive">
                <p class="img-desc">We built Awesome Boxes for several libraries at Harvard</p>
                <img src="/static/img/awesome-sticker-med.jpg" class="img-responsive">
                <p class="img-desc">An Awesome Box sticker out in the wild</p>
			</div>
			<div class="col-md-3">
				<p class='title'>{{ project_title }}</p>
				<p class="link-out"><a href="http://awesomebox.io">awesomebox.io</a></p>
                <p class="desc-title">About</p>
				<p>
					The Awesome Box is an alternate returns box that sits alongside your library's regular book drop.
				</p>
				<p>
				    If you are returning an item that you really connected with, drop it in the Awesome Box instead of the regular book drop. Library staff will tag it as Awesome and share it with your library community.
				</p>
                <p class="desc-title">Why it's good</p>
				<p>
					The Awesome Box's key feature is that it doesn't ask the user to significantly alter their behavior. They are already returning the item to the library, we're only asking them to choose between two boxes.</p>
                <p>
                    There are no reviews to write or accounts to log into, just physically vote by returning the item to one box or the other.
				</p>
                <p class="desc-title">Collaboration</p>
				<p>
					<a href="http://easysticks.com/">Annie Cain</a> and I built the Awesome Box together in the <a href="http://librarylab.law.harvard.edu">Harvard Library Innovation Lab</a>.
				</p>
				<p class="desc-title">Source Code</p>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/harvard-lil/awesome">Github</a>.
				</p>
				<p class="desc-title">Check it out</p>
				<p>
					This description isn't half as interesting as the thing itself. <a href="http://awesomebox.io">awesomebox.io</a>
				</p>
			</div>
		</div> <!--/ row-->
{% endblock %}