{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block styles %}
    <link href="/static/css/hovermarks.css" rel="stylesheet">
{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
                <img src="/static/img/hovermarks-shelf-med.png" class="img-responsive no-description">
                <div class="js-video vimeo widescreen">
                    <iframe src="//player.vimeo.com/video/100994110" width="555" height="330" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <p class="img-desc">Hovermarks are easy. Just cut, fold, and place in a book.</p>
                <img src="/static/img/hovermarks-prototypes-med.jpg" class="img-responsive">
                <p class="img-desc">Some early prototypes</p>
				<img src="/static/img/hovermarks-shelf-med.jpg" class="img-responsive">
                <p class="img-desc">Two hovermark prototypes on a library shelf</p>
			</div>
			<div class="col-md-3">
				<p class='title'>{{ project_title }}</p>
                <p>annotate a physical bookshelf using bookmarks that face the spine instead of the cover</p>
                <div class="link-out">
				    <span><a href="http://hovermarks.org" target="_blank">hovermarks.org</a></span>
                </div>


				<p class="desc-title">About</p>
				<p>
				    Hovermarks help you highlight collections, in place, on a physical bookshelf.
				</p>
                <p>
                    Hovermarks are papercraft. They are printed patterns that are folded and placed in an item just like a regular bookmark.
                </p>
				<p class="desc-title">Why</p>
                <p>
                    Bookshelves and library stacks should be interactive. They should invite curation, and not only from librarians. Hovermarks encourage playfulness and interaction by being easy to create and cheap enough to be disposable.
                </p>
                <p>
                    The ephemerality of the Hovermark is its strength. It's like street art. An empty wall is a canvas. A member of the community decorates it and when it fades away, it's ready for someone else to impart it with their vision.
                </p>
				<p class="desc-title">Check it out</p>
				<p>
					Hovermark templates and more info about the project can be found at <a href="http://hovermarks.org" target="_blank">hovermarks.org</a>
				</p>
                <div class="link-out">
				    <span><a href="http://hovermarks.org" target="_blank">hovermarks.org</a></span>
                </div>
			</div>
		</div> <!--/ row-->
{% endblock %}