<!DOCTYPE html>
<html>
  <head>
    <title>Matt Phillips | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Global style, non-bootsrap> -->
	<link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet">

	<link rel="icon" type="/static/image/png" href="/static/img/favicon.png">


    {% block styles %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container project-container">
		<div class="row header">
			<div class="col-sm-2">
				<a href="/"><p>Matt</p>
				<p>Phillips</p></a>
			</div>
		</div> <!-- / row header -->

        {% block project_details %}{% endblock %}

		<p class="explore-title">Explore other projects</p>
		<div class="row project-row">
			{% if project_title != "Stereo Camera" %}
			<div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="stereo-cam"><img src="/static/img/stereo-cam-proj.jpg" class="img-responsive">
					<p><span class="project-title">Stereoscopic Camera</span> an investigation of digital stereoscopic photography</p>
				</a>
			</div>
			{% endif %}
            {% if project_title != "Frames" %}
			<div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="frames"><img src="/static/img/frames-proj.png" class="img-responsive">
					<p><span class="project-title">Frames</span> a collection of freely licensed images that help you put your screen captures in context</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "Ambient Timer" %}
            <div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="ambient-timer"><img src="/static/img/a-t-small.jpg" class="img-responsive">
					<p><span class="project-title">Ambient Timer</span> a low-stress visual timer with a simple input mechanism for setting the countdown</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "Hovermarks" %}
            <div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="hovermarks"><img src="/static/img/hovermarks-shelf.png" class="img-responsive">
					<p><span class="project-title">Hovermarks</span> annotate a physical bookshelf using bookmarks that face the spine instead of the cover</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "Awesome Box" %}
            <div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="awesome-box"><img src="/static/img/ab-core-small.jpg" class="img-responsive">
					<p><span class="project-title">Awesome Box</span> an alternate returns box that sits alongside your library's regular book drop</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "thelibrary.fm" %}
            <div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="thelibrary-fm"><img src="/static/img/listening-in-the-stacks-small.jpg" class="img-responsive">
					<p><span class="project-title">thelibrary.fm</span> experience the library with your ears</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "Pyfav" %}
			<div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="pyfav"><img src="/static/img/pyfav-ill.png" class="img-responsive">
					<p><span class="project-title">pyfav</span> A Python library that removes the annoyance of retrieving favicons</p>
				</a>
			</div>
            {% endif %}
            {% if project_title != "360 Portrait" %}
			<div class="col-xs-12 col-sm-6 col-md-4 proj-container">
				<a href="360"><img src="/static/img/360-proj.jpg" class="img-responsive">
					<p><span class="project-title">360° Portrait</span> a 360° view of my hand in a fun, draggable interface</p>
				</a>
			</div>
            {% endif %}
        </div> <!-- / project-row -->
  </div> <!-- /container -->
    {% block in_body_sripts %}{% endblock %}
  {% include 'includes/analytics.html' %}
  </body>
</html>
