{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-12">
						<img src="/static/img/stereo-cam-proj.jpg" class="img-responsive">
						<p class="img-desc">The stereoscopic camera in action. Three sheets of acrylic sandwiching a four camera circuit.</p>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-6">
                        <img src="/static/img/table-blue.gif" class="img-responsive">
                        <p class="img-desc"></p>
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/img/table-orange.gif" class="img-responsive">
                        <p class="img-desc"></p>
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/img/table-purple.gif" class="img-responsive">
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/img/table-green.gif" class="img-responsive">
                        <p class="img-desc"></p>
                    </div>
                </div>
                <div class="row">
					<div class="col-xs-12">
		            	<p class="img-desc full-row-desc">Multicolor view of the day's workspace.</p>
		            </div>
		        </div>
				<div class="row">
					<div class="col-xs-12">
						<img src="/static/img/camera-proto-2-front.jpg" class="img-responsive">
						<p class="img-desc">The front acrylic plate has four holes that allow the cameras to capture their images.</p>
						<img src="/static/img/camera-proto-2-side.jpg" class="img-responsive">
						<p class="img-desc">Side view of the acrylic and electronics sandwich.</p>
						<img src="/static/img/camera-proto-2-back.jpg" class="img-responsive">
						<p class="img-desc">The back reveals the circuit, the battery, and the shutter release button.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="/static/img/shopping.gif" class="img-responsive">
                		<p class="img-desc">Grocery shopping. Taken with a film based stereoscopic camera.</p>
					</div>
					<div class="col-md-6">
						<img src="/static/img/mowing.gif" class="img-responsive">
                		<p class="img-desc">Mowing the lawn. Taken with a film based stereoscopic camera.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 project-text">
				<p class='title'>{{ project_title }}</p>
                <p> an investigation of digital stereoscopic photography</p>
                <p class="desc-title">About</p>
				<p>
				    We see in stereo. We have two eyes and each one captures its own image as we navigate the world. Our brains wire the two images together providing visuals rich with depth and texture.</p>
				<p>
				What if our cameras could see the way we see? They can - we simply need to add lenses.</p>	
				</p>
				<p>This is an investigation in how to build a digital stereoscopic camera.</p>
                <p class="desc-title">Technology</p>
				<p>
					The pictured prototype is built around four cameras that simultaneously capture photos when the shutter release button is pressed. Each captured photo has a slightly different viewpoint than the other three in the set.
				</p>
				<p>
					In the physical world we can link different viewpoints into one image using <a href="https://en.wikipedia.org/wiki/Lenticular_printing">lenticular printing</a>. On the web, we can achieve a similar effect using an <a href="https://en.wikipedia.org/wiki/GIF">animated GIF</a>.
				</p>
				<p class="desc-title">Build your own</p>
				<p>You'll need to grab four <a href="http://www.adafruit.com/product/397">cameras</a> and wire them to an <a href="http://www.adafruit.com/product/254">SD card</a> using an <a href="http://www.adafruit.com/product/2590">Arduino microcontroller</a>.
				<p>
					The Arduinio source code is available through a dual MIT/GPL license on <a href="https://github.com/phillipsm/stereo-cam" target="_blank">GitHub</a>.
				</p>
				<p>
					I've also bundled <a href="https://github.com/phillipsm/stereo-cam/tree/master/templates">the templates</a> I used to laser cut the acrylic plates. Enjoy. 
				</p>
			</div>
		</div> <!--/ row-->
{% endblock %}
