{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
                <img src="/static/img/listening-in-the-stacks-med.jpg" class="img-responsive">
				<img src="/static/img/thelibrary-fm.jpg" class="img-responsive no-border">
			</div>
			<div class="col-md-3">
				<p class='title'>{{ project_title }}</p>
				<p class="link-out"><a href="http://thelibrary.fm">{{ project_title }}</a></p>
                <p class="desc-title">About</p>
				<p>
					TheLibrary.fm is a site that houses sound recordings of libraries. It helps you hop into a library, aurally, from anywhere on the Web.
				</p>
                <p>
                    TheLibrary.fm illustrates that the library is not a single thing. It's not a single experience. The sound in a library can range from vibrant and playful if you're in a children's room or quiet and weighty if you're in a reading room.
                </p>
                <p class="desc-title">Noise can be good</p>
				<p>
					A bit of ambient noise can push thinking in positive ways. If your environment is too quiet, it's possible to become too focused and end up trapped in a silence bubble. <a href="http://nyti.ms/1cWsWvZ">The right type of sounds at the right volume can be helpful</a>.
                </p>

                <p class="desc-title">Collaboration</p>
				<p>
					<a href="http://buildingways.com/">Jeff Goldenson</a> and I built the TheLibrary.fm together in the <a href="http://librarylab.law.harvard.edu">Harvard Library Innovation Lab</a>.
				</p>
				<p class="desc-title">Source Code</p>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/harvard-lil/thelibrary-fm">Github</a>.
				</p>
				<p class="desc-title">Check it out</p>
				<p>
					This description isn't half as interesting as the thing itself. <a href="http://TheLibrary.fm">TheLibrary.fm</a>
				</p>
			</div>
		</div> <!--/ row-->
{% endblock %}