{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
                <img src="/static/img/listening-in-the-stacks-med.jpg" class="img-responsive">
                <p class="img-desc">Recording the library while deep in the stacks</p>
				<img src="/static/img/thelibrary-fm.jpg" class="img-responsive">
                <p class="img-desc">A screen capture of thelibrary.fm site</p>
			</div>
			<div class="col-md-3 project-text">
				<p class='title'>{{ project_title }}</p>
                <p>experience the library with your ears</p>
                <div class="link-out">
				    <span><a href="http://thelibrary.fm" target="_blank">{{ project_title }}</a></span>
                </div>

                <p class="desc-title">About</p>
				<p>
					thelibrary.fm is a site that houses sound recordings of libraries. It helps you hop into a library, aurally, from anywhere on the Web.
				</p>
                <p>
                    thelibrary.fm illustrates that the library is not a single thing. It's not a single experience. The sound in a library can range from vibrant and playful if you're in a children's room or quiet and weighty if you're in a reading room.
                </p>
                <p class="desc-title">Noise can be good</p>
				<p>
					A bit of ambient noise can push thinking in positive ways. If your environment is too quiet, it's possible to become too focused and end up trapped in a silence bubble. <a href="http://nyti.ms/1cWsWvZ" target="_blank">The right type of sounds at the right volume can be helpful</a>.
                </p>

                <p class="desc-title">Collaboration</p>
				<p>
					<a href="http://buildingways.com/" target="_blank">Jeff Goldenson</a> and I built the thelibrary.fm together in the <a href="http://librarylab.law.harvard.edu" target="_blank">Harvard Library Innovation Lab</a>.
				</p>
				<p class="desc-title">Source Code</p>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/harvard-lil/thelibrary-fm" target="_blank">GitHub</a>.
				</p>
				<p class="desc-title">Check it out</p>
				<p>
					Hop into some library sounds at
				</p>
                <div class="link-out">
				    <span><a href="http://thelibrary.fm" target="_blank">{{ project_title }}</a></span>
                </div>
			</div>
		</div> <!--/ row-->
{% endblock %}