{% extends "projects/project-base.html" %}

{% block title %}{{ project_title }}{% endblock %}

{% block project_details %}
		<div class="row">
			<div class="col-md-9">
				<img src="/static/img/working.png" class="img-responsive no-border">
			</div>
			<div class="col-md-3">
				<p class='title'>{{ project_title }}</p>
				<p class="link-out"><a href="http://librarylab.law.harvard.edu/working-in-widener">Working in Widener</a></p>
                <p class="desc-title">About</p>
				<p>
					Working in Widener is an educational game. You assume the role of a shelver working in Harvard's Widener Library. You are assigned five books to shelve and asked to find their places in the stacks using their call numbers. The faster the better.
				</p>
				<p>
				    One of the best things about the game is that it can two-player. You can compete, in realtime, against a friend.
				</p>
                <p class="desc-title">Technology</p>
				<p>
					Working in Widener was a lot of fun to build. It's mostly written in JavaScript and leverages the Node.js and Socket.io technologies. A big thanks to those folks for building a sharing.
				</p>
                <p class="desc-title">Collaboration</p>
				<p>
					<a href="http://easysticks.com/">Annie Cain</a> and I built the Working in Widener together in the <a href="http://librarylab.law.harvard.edu">Harvard Library Innovation Lab</a>.
				</p>
				<p class="desc-title">Source Code</p>
				<p>
					Source code is available through a dual MIT/GPL license on <a href="https://github.com/harvard-lil/working-in-widener">Github</a>.
				</p>
				<p class="desc-title">Check it out</p>
				<p>
					This description isn't half as interesting as the thing itself. <a href="http://librarylab.law.harvard.edu/working-in-widener">Start a game.</a>
				</p>
			</div>
		</div> <!--/ row-->
{% endblock %}