.border {
/*	border-bottom: solid 1px #ccc;*/
	margin-bottom: 50px;
}

.header h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
	line-height: 1.2;
	font-size: 59px;
}

.header p {
	font-size: 18px;
	color: #777;
}

.section-header {
	margin-top: 200px;
}

.section-header h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
	font-size: 25px;
}

.project-row {
	margin-bottom: 60px;
}

.project-row img {
	/*border-bottom: solid 4px #888;*/
	height: 250px;
	box-shadow: 0 9px 18px -2px #fafafa, 0 -9px 18px -2px #fafafa;
}

.project-row h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
}

.project-row p {
	color: #555;
}


/*tmp*/
.carousel-inner {
	max-height: 500px;
	opacity: .7;
}

.project-container img {
	margin-bottom: 30px;
	border: 2px solid #ccc;
}

.project-container h1 {
	margin-top: 0px;
}

.project-container h4 {
	margin-top: 30px;
}

.project-container .link-out {
	font-size: 23px;
}

#sep {
	margin-top: 60px;

}