.header {
	margin-top: 25px;
}

.header h1	 {
	font: bold 90px/.78 "oswald";
	text-transform: uppercase;
	color: #555;
}

.section-header {
	margin-top: 200px;
}

.project-row {
	margin-bottom: 100px;
}

.project-row img {
/*	height: 250px;*/	
	box-shadow: 0 9px 18px -2px #fafafa, 0 -9px 18px -2px #fafafa;
}

.project-title {
	font: 400 24px/1 "oswald";
	letter-spacing: .1em;
	color: #555;
	margin-right: 5px;
}
.project-row p {
	font-size: 14px;
	line-height: 1.8;
	margin-top: 24px;
	color: #6f6f6f;
}

.project-container img {
	margin-bottom: 30px;
	border: 2px solid #ccc;
}

.project-container h1 {
	margin-top: 0px;
}

.project-container h4 {
	margin-top: 30px;
}

.project-container .link-out {
	font-size: 23px;
}

.about {
	margin-bottom: 25px;
}

.about .project-title {
	font: 400 24px/1 "oswald";
	margin-bottom: 30px;
	color: #555;
}

.about p {
	font-size: 16px;
	color: #6f6f6f;
}

a {
	color: #4889b3;
}


@media(max-width:767px){
	.project-row p {
		margin-bottom: 60px;
		max-width: 392px;
	}
	
	.about p {
		max-width: 392px;
		margin-top: 24px;
	}
	
	.section-header {
		margin-top: 0;
	}

	.project-row {
		margin-bottom: 0;
	}
	
	.header {
		margin-bottom: 60px;
	}
}
@media(min-width:768px){
	.project-row p {
		margin-bottom: 60px;
	}
}
@media(min-width:992px){
	.project-row p {
		margin-bottom: 90px;
	}
}
@media(min-width:1200px){}