.landing .header {
	margin-top: 25px;
	margin-bottom: 200px;
}

.landing .header p {
	font: bold 90px/.90 "oswald";
	text-transform: uppercase;
	color: #555;
}

.landing .project-row img, .project-container .project-row img {
	box-shadow: 0 0 33px #FFF9F9;
}

.landing .project-title, .project-container .project-row .project-title {
	font: 400 24px/1 "oswald";
	letter-spacing: .04em;
	color: #555;
	margin-right: 5px;
}

.landing .project-row p, .project-container .project-row p {
	font-size: 14px;
	line-height: 1.6;
	margin-top: 17px;
	color: #6f6f6f;
	height: 50px;
}

.landing .about {
	margin-bottom: 25px;
}

.landing .about .project-title {
	font: 400 24px/1 "oswald";
	margin-bottom: 17px;
	color: #555;
}

.landing .about p {
	color: #6f6f6f;
	font-size: 15px;
}

.about img {
margin-bottom: 17px;
}

a {
	color: #5859D1;
}

a:hover {
	color: #5859D1;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}


/* Media queries to adjust on window resize start */
@media(max-width:767px) {
	.landing .project-row p, .project-container .project-row p {
		margin-bottom: 60px;
	}
	
	.landing .header {
		margin-bottom: 60px;
	}
	
	.landing .about {
		margin-top: 0;
	}

	.proj-container {

	}
}

@media(min-width:768px) {
	.landing .project-row p, .project-container .project-row p {
		margin-bottom: 60px;
	}

	.landing .about {
		margin-top: 140px;
	}
}

@media(min-width:992px) {
	.landing .project-row p, .project-container .project-row p {
		margin-bottom: 70px;
	}
	
	.landing .about {
		margin-top: 140px;
	}
}

@media(min-width:1200px){}
/* Media queries to adjust on window resize end */
	


/* project page styling start */
.project-container {
	margin-bottom: 10px;
}

.project-container .header {
	font: bold 24px/.65 "oswald";
	text-transform: uppercase;
	color: #555;
    margin-top: 20px;
    margin-bottom: 50px;
}

.project-container .header a {
	color: #555;
}

.project-container .header a:hover {
	color: #5859D1;
}

.project-container img {

}

.project-container img.with-border {
    border: 2px solid #ccc;
}

.project-container img.no-desc {
    margin-bottom: 30px;
}

.project-container .title {
	font: 35px/1 "oswald";
	color: #555;
}

.project-container .link-out {
    margin-top: 22px;
    margin-bottom: 60px;
}

.project-container .link-out span {
	font-size: 22px;
	background-color: #fff47a;
	padding: 3px 8px;
}

.project-container .link-out span a {
	color: #0D76FF;
}

.project-container .link-out span a:hover{
    text-decoration: none;
    border-bottom: solid 1px #95c3ff;
}

.project-container .desc-title {
	font: 18px/1 "oswald";
	color: #555;
	margin-top: 30px;
	margin-bottom: 8px;
}

.project-container .explore-title {
	font: 35px/1 "oswald";
	color: #555;
	margin-top: 150px;
	margin-bottom: 30px;
}

.project-container .project-row img{
	border: none;
}

.project-container .img-desc{
	color: #888;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 30px
}

/* project page styling end */
