<!DOCTYPE html>
<html>
  <head>
    <title>Matt Phillips | Personal Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Global style, non-bootsrap> -->
    <link href="/static/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="row header">
			<div class="col-md-4">
				<h1 id="sep">Matt Phillips</h1>
				<!--<p><a href="#recent-projects-anchor">Recent Projects</a> / <a href="#about-anchor">About</a></p>-->
			</div>
			<div class="col-md-8"></div>
		</div>
		
		<div class="row section-header">
			<div class="col-md-12"><!--<h1 id="recent-projects-anchor">Recent Projects</h1>--></div>
		</div>

		<div class="row project-row">
			<div class="col-md-4">
				<a href="ambient-timer"><img src="/static/img/a-t.png" class="img-responsive"></a>
				<p><span class="project-title">Ambient Timer</span> a low-stress visual timer in your web browser with a simple input mechanism for setting the countdown time</p>
			</div>
			<div class="col-md-4">				
				<img src="/static/img/f-b.JPG" class="img-responsive">
				<p><span class="project-title">Floating Bookmark</span> a bookmark that faces the spine of the book instead of the cover allowing you to quickly annotate a shelf of books</p>
			</div>
			<div class="col-md-4">
				<img src="/static/img/w-i-w.png" class="img-responsive">
				<p><span class="project-title">Working in Widener</span> a one or two player game set in Harvard's Widener Library. Rush to shelve your books for a time record or to best your opponent.</p>
			</div>
		</div>
		
		<div class="row project-row">
			<div class="col-md-4">
				<a href="awesome-box"><img src="/static/img/awesome.jpg" class="img-responsive"></a>
				<p><span class="project-title">Awesome Box</span> an alternate returns box at your library. If the book you're returning was awesome, drop it in the Awesome Box instead of the regular returns box.</p>
			</div>
			<div class="col-md-4">
				<img src="/static/img/360.jpg" class="img-responsive">
				<p><span class="project-title">360 Portrait</span> a 360 view of my hands and my head in an easy to use draggable based interface.</p>
			</div>
			<div class="col-md-4">
				<img src="/static/img/t-map.png" class="img-responsive">
				<p><span class="project-title">Realtime T Map</span> A realtime view of Boston's subway system with fun stats that count up as you watch</p>
			</div>
		</div>	
		<div class="row section-header">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/static/img/about-image.jpeg" class="img-responsive">
			</div>
			<div class="col-md-6">
				<p>
					Hi. I'm Matt Phillips. I like the Web, computers, libraries, and bicycles. I live in Somerville, MA.
					If you want to work on something together or just shoot the shit, find me at labratmatt@gmail.com
				</p>
			</div>
		</div>	
  </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>