<!DOCTYPE html>
<html>
  <head>
    <title>Matt Phillips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal site of Matthew Phillips. I build things, mostly software, for libraries and the Web." />
      <meta property="og:description" content="The personal site of Matthew Phillips. I build things, mostly software, for libraries and the Web." />
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Global style, non-bootsrap> -->
    <link href="/static/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container landing">
		<div class="row header">
			<div class="col-md-12">
				<p>Matt</p>
				<p>Phillips</p>
			</div>
		</div>

		<div class="row project-row">
			<div class="col-xs-6 col-lg-4">
				<a href="ambient-timer"><img src="/static/img/a-t-small.png" class="img-responsive">
				<p><span class="project-title">Ambient Timer</span> a low-stress visual timer with a simple input mechanism for setting the timer</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="hovermarks"><img src="/static/img/f-b-small.jpg" class="img-responsive">
				<p><span class="project-title">Hovermarks</span> a lightweight tool that helps you annotate a physical bookshelf</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="awesome-box"><img src="/static/img/ab-core-small.jpg" class="img-responsive">
				<p><span class="project-title">Awesome Box</span> an alternate returns box that sits alongside your library's regular book drop</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="360"><img src="/static/img/360-small.jpg" class="img-responsive">
				<p><span class="project-title">360° Portrait</span> a 360° view of my hand in a fun, draggable interface</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="thelibrary-fm"><img src="/static/img/listening-in-the-stacks-small.jpg" class="img-responsive">
				<p><span class="project-title">thelibrary.fm</span> experience the library with your ears</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="pyfav"><img src="/static/img/pyfav-small.jpg" class="img-responsive">
				<p><span class="project-title">pyfav</span> A Python library that removes the annoyance of retrieving favicons</p></a>
			</div>
            <div class="col-xs-6 col-lg-4">
				<a href="working-in-widener"><img src="/static/img/wiw-logo-small.jpg" class="img-responsive">
				<p><span class="project-title">Working in Widener</span> a one or two player game set in Harvard's Widener Library</p></a>
			</div>
		</div> <!-- / project-row -->
		
		<div class="row about">
            <div class="col-xs-4">
				<img src="/static/img/about-image.jpeg" class="img-responsive">
			</div>
			<div class="col-xs-6">
				<p class="project-title">Hello</p>
				<p>I'm Matt Phillips. I'm into libraries and a lot of the work I do relates to them. Libraries are amazingly altruistic and possibly the greatest social institution we have. They're are also my livelihood. I work in the <a href="http://librarylab.law.harvard.edu" class="pretty-links">Harvard Library Innovation Lab</a>.</p>
				<p>In addition to libraries I'm in love with the Internet and the Web, and riding bicycles.</p>
				<p>I have a background in computing and hold a bachelor's and a master's degree in computer science.</p>
				<p>I occasionally use <a href="http://twitter.com/labratmatt">Twitter</a>. Browse my code at <a href="https://github.com/phillipsm">GitHub</a>. Email is the best way to reach me, <a href="mailto:matt@mattphillips.info">matt@mattphillips.info</a></p>
			</div>

		</div>	<!--/ about-->
  </div> <!-- / container -->
  {% include 'includes/analytics.html' %}
  </body>
</html>