<!DOCTYPE html>
<html>
  <head>
    <title>Matt Phillips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Global style, non-bootsrap> -->
    <link href="/static/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container landing">
		<div class="row header">
			<div class="col-md-12">
				<p>Matt</p>
				<p>Phillips</p>
			</div>
		</div>

		<div class="row project-row">
			<div class="col-sm-6 col-md-4">
				<a href="ambient-timer"><img src="/static/img/a-t.png" class="img-responsive"></a>
				<p><span class="project-title">Ambient Timer</span> a low-stress visual timer with a simple input mechanism for setting the timer</p>
			</div>
            <div class="col-sm-6 col-md-4">
				<a href="hovermarks"><img src="/static/img/f-b.JPG" class="img-responsive"></a>
				<p><span class="project-title">Hovermarks</span> a tool that helps you quckly annotate a bookhself</p>
			</div>
            <div class="col-sm-6 col-md-4">
				<a href="awesome-box"><img src="/static/img/awesome.jpg" class="img-responsive"></a>
				<p><span class="project-title">Awesome Box</span> an alternate returns box at your library used by a bunch of public libraries</p>
			</div>
            <div class="col-sm-6 col-md-4">
				<a href="thelibrary-fm"><img src="/static/img/thelibrary-fm.jpg" class="img-responsive"></a>
				<p><span class="project-title">thelibrary.fm</span> experience the library with your ears</p>
			</div>
            <div class="col-sm-6 col-md-4">
				<a href="working-in-widener"><img src="/static/img/working.png" class="img-responsive"></a>
				<p><span class="project-title">Working in Widener</span> a one or two player game set in Harvard's Widener Library</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="pyfav"><img src="/static/img/pyfav.jpg" class="img-responsive"></a>
				<p><span class="project-title">pyfav</span> A Python lib that makes helps you retrieve favicons</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img src="/static/img/360.jpg" class="img-responsive">
				<p><span class="project-title">360 Portrait</span> a 360 view of my hands and my head in an easy to use, draggable based interface</p>
			</div>
		</div> <!-- / project-row -->
		
		<div class="row about">
			<div class="col-xs-4">
				<img src="/static/img/about-image.jpeg" class="img-responsive">
			</div>
			<div class="col-xs-8">
				<p class="project-title">Hello</p>
				<p>I'm Matt Phillips. I'm really into libraries and a lot of the work I do relates to them. Libraries are amazingly altruistic and possibly the greatest social institution we have. They're are also my livelihood. I work in the <a href="http://librarylab.law.harvard.edu" class="pretty-links">Harvard Library Innovation Lab</a>.</p>
				<p>In addition to libraries I'm in love with the Internet and the Web, and riding bicycles.</p>
				<p>I have a background in computing and hold a bachelor's and a master's degree in computer science.</p>
				<p>Email is the best way to reach me, <a href="mailto:matt@mattphillips.info">matt@mattphillips.info</a></p>
			</div>
		</div>	<!--/ about-->
  </div> <!-- / container -->
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>